<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>air</key>
	<integer>0</integer>
	<key>rock</key>
	<integer>1</integer>
	<key>grass</key>
	<integer>2</integer>
	<key>dirt</key>
	<integer>3</integer>
	<key>cobblestone</key>
	<integer>4</integer>
	<key>wood</key>
	<integer>5</integer>
	<key>sapling</key>
	<integer>6</integer>
	<key>bedrock</key>
	<integer>7</integer>
	<key>water</key>
	<integer>8</integer>
	<key>stillwater</key>
	<integer>9</integer>
	<key>lava</key>
	<integer>10</integer>
	<key>stilllava</key>
	<integer>11</integer>
	<key>sand</key>
	<integer>12</integer>
	<key>gravel</key>
	<integer>13</integer>
	<key>goldore</key>
	<integer>14</integer>
	<key>ironore</key>
	<integer>15</integer>
	<key>coalore</key>
	<integer>16</integer>
	<key>tree</key>
	<integer>17</integer>
	<key>leaves</key>
	<integer>18</integer>
	<key>sponge</key>
	<integer>19</integer>
	<key>glass</key>
	<integer>20</integer>
	<key>redcloth</key>
	<integer>21</integer>
	<key>orangecloth</key>
	<integer>22</integer>
	<key>yellowcloth</key>
	<integer>23</integer>
	<key>limecloth</key>
	<integer>24</integer>
	<key>greencloth</key>
	<integer>25</integer>
	<key>aquagreencloth</key>
	<integer>26</integer>
	<key>cyancloth</key>
	<integer>27</integer>
	<key>bluecloth</key>
	<integer>28</integer>
	<key>purplecloth</key>
	<integer>29</integer>
	<key>indigocloth</key>
	<integer>30</integer>
	<key>violetcloth</key>
	<integer>31</integer>
	<key>magentacloth</key>
	<integer>32</integer>
	<key>pinkcloth</key>
	<integer>33</integer>
	<key>blackcloth</key>
	<integer>34</integer>
	<key>graycloth</key>
	<integer>35</integer>
	<key>cloth</key>
	<integer>36</integer>
	<key>flower</key>
	<integer>37</integer>
	<key>rose</key>
	<integer>38</integer>
	<key>brown</key>
	<integer>39</integer>
	<key>red</key>
	<integer>40</integer>
	<key>gold</key>
	<integer>41</integer>
	<key>iron</key>
	<integer>42</integer>
	<key>double</key>
	<integer>43</integer>
	<key>step</key>
	<integer>44</integer>
	<key>brick</key>
	<integer>45</integer>
	<key>tnt</key>
	<integer>46</integer>
	<key>bookshelf</key>
	<integer>47</integer>
	<key>mossy</key>
	<integer>48</integer>
	<key>obsidian</key>
	<integer>49</integer>
	<key>torch</key>
	<integer>50</integer>
	<key>fire</key>
	<integer>51</integer>
	<key>mob</key>
	<integer>52</integer>
	<key>woodstairs</key>
	<integer>53</integer>
	<key>chest</key>
	<integer>54</integer>
	<key>redstone</key>
	<integer>55</integer>
	<key>diamond</key>
	<integer>56</integer>
	<key>diamondblock</key>
	<integer>57</integer>
	<key>workbench</key>
	<integer>58</integer>
	<key>crops</key>
	<integer>59</integer>
	<key>soil</key>
	<integer>60</integer>
	<key>furnace</key>
	<integer>61</integer>
	<key>burningfurnace</key>
	<integer>62</integer>
	<key>signpost</key>
	<integer>63</integer>
	<key>woodenhalfdoor</key>
	<integer>64</integer>
	<key>ladder</key>
	<integer>65</integer>
	<key>rail</key>
	<integer>66</integer>
	<key>cobblestair</key>
	<integer>67</integer>
	<key>sign</key>
	<integer>68</integer>
	<key>lever</key>
	<integer>69</integer>
	<key>stoneplate</key>
	<integer>70</integer>
	<key>ironhalfdoor</key>
	<integer>71</integer>
	<key>woodenplate</key>
	<integer>72</integer>
	<key>redstoneore</key>
	<integer>73</integer>
	<key>litredstoneore</key>
	<integer>74</integer>
	<key>redstonetorchoff</key>
	<integer>75</integer>
	<key>redstonetorchon</key>
	<integer>76</integer>
	<key>stonebutton</key>
	<integer>77</integer>
	<key>snow</key>
	<integer>78</integer>
	<key>ice</key>
	<integer>79</integer>
	<key>snowblock</key>
	<integer>80</integer>
	<key>cactus</key>
	<integer>81</integer>
	<key>clay</key>
	<integer>82</integer>
	<key>reed</key>
	<integer>83</integer>
	<key>jukebox</key>
	<integer>84</integer>
</dict>
</plist>
